<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta id="viewport" content="width=device-width, initial-scale=1.0">
        <title>GiveWave</title>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <h2 class="logo">🅶🆆 </h2>
                <h2 class="heading">GiveWave</h2>
            </div>
            <div class="right">
                <ul class="nav-ul" type="none">
                    <li class="nav-li"><a href="#home">Home</a></li>
                    <li class="nav-li"><a href="#donation">Donation</a></li>
                    <li class="nav-li-long"><a href="#contactRequest">Collaborate</a></li>
                    <li class="nav-li"><a href="#about">About us</a></li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="menu"
                        width="30"
                        height="30" viewBox="0 0 24 24"><path fill="white" d="M3
                            18h13v-2H3v2zm0-5h10v-2H3v2zm0-7v2h13V6H3zm18
                            9.59L17.42 12L21 8.41L19.59 7l-5 5l5 5L21 15.59z"/></svg>
                    </ul>
                </div>
            </div>
            <div class="main">

                <div class="home" id="home">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                            <div class="numbertext">1 / 3</div>
                            <img src="/images/p1.jpg" class="img">
                            <div class="text">Education is the most powerful
                                tool we
                                can use to uplift <br> those in poverty, unlock
                                their full potential, and provide them with a
                                pathway to a brighter future.</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 3</div>
                            <img src="/images/p2.jpg" class="img">
                            <div class="text">Empowering women through education
                                not
                                only improves their own lives, <br> but also
                                benefits their families, communities, and the
                                world,
                                leading to greater gender equality and a
                                brighter
                                future for all.</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 3</div>
                            <img src="/images/p3.jpg" class="img">
                            <div class="text">Together, we can make a meaningful
                                impact and help lift people out of <br> poverty
                                by
                                supporting education, providing access to basic
                                needs, and creating opportunities for economic
                                empowerment.</div>
                        </div>

                    </div>
                    <br>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="Donation" id="donation">
                    <div class="bloodDonation">
                        <div class="left-bd" data-aos="fade-right"
                            data-aos-duration="3000">

                        </div>
                        <div class="right-bd" data-aos="fade-left"
                            data-aos-anchor="#example-anchor"
                            data-aos-offset="500"
                            data-aos-duration="3000">
                            <p class="quotes">
                                Be the reason for someone’s heartbeat.
                            </p>
                            <div class="alert">
                                Blood Alert
                                <br>
                                If any one need Blood it will email to donar.so
                                please regiseter!!!
                            </div>
                            <form action="/blood" method="post"
                                class="res-form">
                                <center>    
                                    <input type="tel" name="PhoneNumber"
                                        placeholder="Phone Number" class="int"
                                        required> <br>
                                    <button type="Submit" class="btn-grad">
                                        Submit</button>
                                </center>
                            </form>
                        </div>
                    </div>
                    <div class="foodClothes">
                        <div class="leftfc" data-aos="fade-down"
                            data-aos-easing="linear"
                            data-aos-duration="1500">
                            <h3 class="donate">Donate</h3>
                            <form action="/donate" method="post">
                                <input type="email" class="red"
                                    placeholder="Email"
                                    required>
                                <br>
                                <div>
                                    <label for="bigdonation">Category:</label>
                                    <br>
                                    <select class="red" name="bigdonation"
                                        id="bigdonation">
                                        <option value="Food">Food</option>
                                        <option value="Clothe">Clothe</option>
                                        <option value="Education">Education</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <br>
                                <input class="red" type="tel" placeholder="Phone
                                    Number" name="phoneNumber" required>
                                <br>
                                <input type="number" class="red" size="6"
                                    required name="roomno" placeholder="Door
                                    No.">
                                <br>
                                <input type="text" class="red" required
                                    name="Address" placeholder="Address include
                                    Pincode">
                                <br>
                                <center>
                                    <button class="btn-grad" type="submit">Donate</button>
                                </center>
                            </form>
                        </div>
                        <div class="rightfc" data-aos="fade-up"
                            data-aos-anchor-placement="top-center">

                        </div>
                    </div>
                </div>
                <div class="contact-Request" id="contactRequest">
                    <div class="leftC">

                    </div>
                    <div class="rightC">
                        <h2 class="c">Collaborate</h2>
                        <form action="/request" method="post">
                            <input class="red" type="email" name="email" required
                                placeholder="Email">
                            <br>
                            <input class="red"  type="tel" name="tel" required
                                placeholder="phoneNumber">
                            <br>
                            <input class="red"  type="text" name="Trust" required
                                placeholder="Trust">
                            <br>
                            <input class="red"  type="text" name="need" 
                                placeholder="Needs">
                            <br>
                            <center><button class="btn-grad" type="submit">Collaborate</button>
                            </center>
                        </form>
                    </div>
                </div>
                <div class="about" id="about">
                    <footer class="footer-distributed">

                        <div class="footer-left">

                            <h3>GiveWave Pvt Ltd<span><img style="height: 20vh;"
                                        src="../../assets/Images/logp.png"
                                        alt=""></span></h3>

                            <p class="footer-company-name">Sell Cart Pvt Ltd ©
                                2015</p>
                        </div>

                        <div class="footer-center">

                            <div>
                                <i class="fa fa-map-marker"></i>
                                <p><span>204 S.Sanjay</span> Chennai, India</p>
                            </div>

                            <div>
                                <i class="fa fa-phone"></i>
                                <p>+91 9750002534</p>
                            </div>

                            <div>
                                <i class="fa fa-envelope"></i>
                                <p><a href="mailto:support@company.com">support@company.com</a></p>
                            </div>

                        </div>

                        <div class="footer-right">

                            <p style="color: white;"
                                class="footer-company-about">
                                <span>About the company</span>
                                We are a donation company dedicated to making a
                                positive impact in our community and beyond. Our
                                mission is to provide support and resources to
                                those in need, and to facilitate meaningful
                                connections between individuals, organizations,
                                and causes.

                            </p>

                        </div>

                    </footer>
                </div>
            </div>
            <script src="/js/index.js"></script>
        </body>
    </html>